name: Conversion Request

on:
  workflow_dispatch:
    inputs:
      pack_url:
        description: "Direct download link"
        required: true
        type: string

  issues:
    types:
      - labeled

permissions:
  contents: write
  actions: write
  issues: write

jobs:

  get-pack-info:
    runs-on: ubuntu-latest
    if: github.event_name == 'workflow_dispatch' || (github.event.label.name == 'conversion')

    outputs:
      pack_url: ${{ steps.out.outputs.PACK_URL }}
      default_pack_url: "null"
      merge_pack_url: "null"
      default_assets_version: "1.19.3"
      block_material: "alpha_test"
      attachable_material: "entity_alphatest_one_sided"
      archive_scratch: "false"
      rename_model_files: "false"
      font_conversion: "true"
      armor_conversion: "true"
      meg3_fix: "false"
      sounds_conversion: "true"
      bow_conversion: "true"
      shield_conversion: "true"
      block_conversion: "true"

    steps:
      - name: Setup for workflow_dispatch
        id: out
        if: github.event_name == 'workflow_dispatch'
        run: |
          echo "PACK_URL=${{ github.event.inputs.pack_url }}" >> $GITHUB_OUTPUT

      - name: Issue Forms Body Parser
        id: parse-issue
        if: github.event_name == 'issues'
        uses: zentered/issue-forms-body-parser@v2.2.0

      - name: Extract issue input
        id: organize-inputs
        if: github.event_name == 'issues'
        run: |
          echo ${{ toJSON(steps.parse-issue.outputs.data) }} > inputs.json
          echo "PACK_URL=$(jq -r '.\"java-pack-direct-download-url\".text[1:-1]' inputs.json)" >> $GITHUB_OUTPUT

  convert-pack:
    runs-on: ubuntu-latest
    needs: get-pack-info
    timeout-minutes: 90

    steps:
      - uses: actions/checkout@v4

      - name: Debug URL
        run: echo "PACK_URL = ${{ needs.get-pack-info.outputs.pack_url }}"

      - name: Install dependencies
        run: |
          sudo apt-get install -y moreutils zip imagemagick
          yarn global add spritesheet-js
          pip install Pillow requests jproperties

      - name: Convert Pack
        env:
          PACK_URL: ${{ needs.get-pack-info.outputs.pack_url }}
        run: |
          mkdir -p staging
          cp converter.sh staging/
          cd staging
          chmod +x converter.sh
          curl -#L -o input_pack.zip "${PACK_URL}"
          ./converter.sh input_pack.zip -w false -u true

      - name: Upload converted pack
        uses: actions/upload-artifact@v4
        with:
          name: PackFiles
          path: |
            staging/target/packaged/geyser_resources.mcpack
            staging/target/packaged/geyser_addon.mcaddon
            staging/target/*.json
            staging/target/scratch_files.zip
            staging/config.json

  post-result:
    runs-on: ubuntu-latest
    needs: convert-pack
    if: github.event_name == 'issues'   # ← สำคัญ !!!
    steps:
      - name: Post Result
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            ## :sparkles: The run has finished! :sparkles:
            Files are ready at the Actions page!
          reactions: 'rocket'
