name: Conversion Request
on:
  workflow_dispatch:
    inputs:
      pack_url:
        description: "Java pack direct download URL"
        required: false
        default: ""
      default_pack_url:
        description: "Default pack direct download URL"
        required: false
        default: "null"
      merge_pack_url:
        description: "Bedrock merge pack direct download URL"
        required: false
        default: "null"
      default_assets_version:
        description: "Default assets version"
        required: false
        default: "1.19.3"
      block_material:
        description: "Block material type"
        required: false
        default: "alpha_test"
      attachable_material:
        description: "Attachable material type"
        required: false
        default: "entity_alphatest_one_sided"
      archive_scratch:
        description: "Archive scratch files"
        required: false
        default: "false"
      rename_model_files:
        description: "Rename model files"
        required: false
        default: "false"
      font_conversion:
        description: "Enable font conversion"
        required: false
        default: "false"
      armor_conversion:
        description: "Enable armor conversion"
        required: false
        default: "false"
      meg3_fix:
        description: "Enable MEG3 fix"
        required: false
        default: "false"
      sounds_conversion:
        description: "Enable sounds conversion"
        required: false
        default: "false"
      bow_conversion:
        description: "Enable bow conversion"
        required: false
        default: "false"
      shield_conversion:
        description: "Enable shield conversion"
        required: false
        default: "false"
      block_conversion:
        description: "Enable block conversion"
        required: false
        default: "false"

jobs:
  get-pack-info:
    runs-on: ubuntu-latest
    permissions:
      issues: read
    timeout-minutes: 2
    outputs:
      pack_url: ${{ inputs.pack_url }}
      default_pack_url: ${{ inputs.default_pack_url }}
      merge_pack_url: ${{ inputs.merge_pack_url }}
      default_assets_version: ${{ inputs.default_assets_version }}
      block_material: ${{ inputs.block_material }}
      attachable_material: ${{ inputs.attachable_material }}
      archive_scratch: ${{ inputs.archive_scratch }}
      rename_model_files: ${{ inputs.rename_model_files }}
      font_conversion: ${{ inputs.font_conversion }}
      armor_conversion: ${{ inputs.armor_conversion }}
      meg3_fix: ${{ inputs.meg3_fix }}
      sounds_conversion: ${{ inputs.sounds_conversion }}
      bow_conversion: ${{ inputs.bow_conversion }}
      shield_conversion: ${{ inputs.shield_conversion }}
      block_conversion: ${{ inputs.block_conversion }}

    steps:
      - name: Debugging - Review Input Values
        run: |
          echo "pack_url=${{ inputs.pack_url }}"
          echo "default_pack_url=${{ inputs.default_pack_url }}"
          echo "merge_pack_url=${{ inputs.merge_pack_url }}"
          echo "default_assets_version=${{ inputs.default_assets_version }}"
          echo "block_material=${{ inputs.block_material }}"
          echo "attachable_material=${{ inputs.attachable_material }}"
          echo "archive_scratch=${{ inputs.archive_scratch }}"
          echo "rename_model_files=${{ inputs.rename_model_files }}"
          echo "font_conversion=${{ inputs.font_conversion }}"
          echo "armor_conversion=${{ inputs.armor_conversion }}"
          echo "meg3_fix=${{ inputs.meg3_fix }}"
          echo "sounds_conversion=${{ inputs.sounds_conversion }}"
          echo "bow_conversion=${{ inputs.bow_conversion }}"
          echo "shield_conversion=${{ inputs.shield_conversion }}"
          echo "block_conversion=${{ inputs.block_conversion }}"

  convert-pack:
    runs-on: ubuntu-latest
    needs: get-pack-info
    permissions:
      contents: read
    timeout-minutes: 90
    outputs:
      run_id: ${{ needs.get-pack-info.outputs.pack_url }}
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y moreutils zip imagemagick
          yarn global add spritesheet-js
          pip install Pillow requests jproperties

      - name: Process Conversion
        run: |
          mkdir -p staging
          cp converter.sh staging/
          cd staging
          chmod +x converter.sh
          ./converter.sh "${{ needs.get-pack-info.outputs.pack_url }}" -m "${{ needs.get-pack-info.outputs.merge_pack_url }}" -a "${{ needs.get-pack-info.outputs.attachable_material }}" -b "${{ needs.get-pack-info.outputs.block_material }}" -f "${{ needs.get-pack-info.outputs.default_pack_url }}" -v "${{ needs.get-pack-info.outputs.default_assets_version }}"

      - name: Upload Conversion Output
        uses: actions/upload-artifact@v4
        with:
          name: PackFiles
          path: staging/target/

  post-result:
    runs-on: ubuntu-latest
    needs: convert-pack
    timeout-minutes: 2
    permissions:
      issues: write
    steps:
      - name: Post Result
        id: post-result
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: ${{ github.event.issue.number }}
          body: |
            ## :sparkles: The run has finished! :sparkles:
            - Download the pack files from the [action run][1] page. :arrow_double_down:
            - Upload the resource pack `geyser_resources.mcpack` to the `packs` folder of your Geyser folder. :file_folder:
            - Upload the mappings file `geyser_mappings.json` to the `custom_mappings` folder of your Geyser folder. :page_with_curl:

            If you notice issues with the converted files, please refer to the action log for errors and open a bug report if you believe there is an issue with the converter. This issue will be closed automatically.

            [1]: https://github.com/tomzangsad/J2B_Geyser/actions/runs/${{ github.run_id}}
          reactions: 'rocket'

      - name: Close Issue
        uses: peter-evans/close-issue@v3
        with:
          issue-number: ${{ github.event.issue.number }}

